
body{
    margin: 0;
    background-color: #0E3A47;
    color: rgba(255, 255, 255, 0.867);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 220px 1fr;
}

header{
    grid-area: header;
    background-image: url(../imagenes/imgf.png);
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;

}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

header div{
    margin: 40px;
    margin-right: 0;
    min-width: 200px;
}

a:not(footer a){
    color: #0E3A47;
    font-weight: bold;
    text-decoration: none;
    background-color: #E6E4C6;;
    border-radius: 5px;
    padding: 10px 40px;
}

header img{
    max-height: 300px;
    flex-shrink: 1;
    margin-right: 50px;
    margin-top: auto;
   
}

#tarjetasContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.proyecto{
flex-basis: 314px;
flex-grow: 1;
flex-shrink: 1;
display: flex;
flex-direction: column;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

 .tecnologia{
    margin-left: 5px;
    transition: 0.2s;
    user-select: none;
}

.tecnologia:hover{
    color: #E6E4C6;;
}

.proyecto img{
    height: 150px;
    object-fit: cover;
    filter: grayscale(0.8);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}
.proyecto:hover img{
    filter: grayscale(0);
    transition: 0.3s;
}

.proyecto div{
    margin: 0 20px;
}

.proyecto a{
    margin-top: auto;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


.tarjeta{
    background-color: #ffffff27;
    border-radius: 5px;
}

aside{
    grid-area: aside;
    padding: 0px 20px;
    margin-right: 20px;
}

aside>div{
padding: 20px 0;
border-bottom: 2px solid #0E3A47;
}

aside>div:last-of-type{
    border-bottom: unset;
   
    }
aside  img{
    max-width: 100%;
    border-radius: 50%;
    max-width: 200px;
    display: block;
    margin: auto;
   
}

.presentacion div, .idioma div{
    display: flex;
    justify-content: space-between;
    

}

.presentacion span:last-of-type, .idioma span:last-of-type{
   color: #ffffff;
}


progress{
    -webkit-appearance: none;
}

::-webkit-progress-bar{
    background-color: #0E3A47;
}

::-webkit-progress-inner-element{
    height: 5px;
}

::-webkit-progress-value{
    background-color: #E6E4C6;
}


.redes{
    display: flex;
    justify-content: space-around;
}

.redes a{
    background-color: unset;
    padding: unset;
}

.redes img{
    height: 20px;
    filter: invert(1);
}

footer{
    grid-area: footer;
    text-align: center;
}

footer a{
    color: rgba(255, 255, 255, 0.867);
}
main{
    grid-area: main;
}

@media(max-width: 650px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header" "aside" "main" "footer";
       
    }

    header #img1{
        display: none;
    }
    aside, main{
        margin: 0 20px;
    }

}


