* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#contenedo {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 75px;
    border: 3px solid rgb(243, 206, 218);
    border-radius: 15px;
    background-color: rgb(243, 206, 218);
    padding-top: 10px;
    padding-bottom: 10px;
}

#contenedo>div {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F5E9E2;
}

#contenedor {
    justify-content: center;
    display: flex;
}

#logo {
    height: 50px;
    position: relative;
    bottom: 15px;
    right: 400px;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 10px;
}

h3 {
    color: #291E48;
    padding-left: 3px;
}

.container-informacion {
    display: flex;
    gap: 20px;
}

p {
    font-size: 17px;
}

.info-1, .info-2, .info-3 {
    width: 100%;
    background-color: #c0affc;
    font-size: 18px;
    border: 4px solid #625094;
    border-radius: 10px;
}

hr {
    margin-top: 30px;
    width: 60%;
    border: 1px solid #3f2d72;
}

.container-kit {
    display: flex;
}

.informacion-universidad {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    left: 200px;
    width: 160vh;
    padding: 15vh;
}

.texto-1, .texto-2 {
    width: 50%;
    margin: auto;
    background-color: #c0affc;
    border: 4px solid #625094;
    border-radius: 3%;
}

#div11 {
    margin-left: 20px;
}

.contf {
    background-color: rgb(225, 163, 215);
    padding: 20px;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.div1 {
    display: flex;
    margin-left: 14%;
    color: black;
}

#div2 {
    margin-right: 26%;
    text-align: left;
}

#div3 {
    text-align: left;
}

#cont-img {
    width: 100%;
    max-width: 380px;
    height: auto;
    border-radius: 3%;
    position: relative;
    top: 40px;
}

#div10 {
    position: absolute;
}

.titulo-kit {
    position: relative;
    bottom: 5px;
}


@media (max-width: 768px) {
    #contenedo {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    #logo {
        position: static;
        margin-bottom: 10px;
        right: 0;
    }

    .container-informacion {
        flex-direction: column;
        gap: 10px;
    }

    .container-kit {
        flex-direction: column;
    }

    .informacion-universidad {
        width: 100%;
        left: 0;
        padding: 5vh;
    }

    .texto-1, .texto-2 {
        width: 90%;
        margin: 20px auto;
    }

     .div1, #div2, #div3 {
        margin: 0;
        text-align: center;
        clear: both; 
    }

    #div11{
        position: relative;
        top: 150px;
    }

    #cont-img {
        max-width: 100%;
        margin-bottom: 20px; 
        float: left; 
        margin-right: 20px; 
        position: relative;
        top: 20px;
    }

    hr {
        width: 80%;
    }

    .div1, #div2, #div3 {
        margin-bottom: 20px; 
        display: block;
        width: 100%;
        clear: both;
    }
}
